<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Omnicell Templates | Omnicell</title>
    <link rel="shortcut icon"
        href="https://mktg.omnicell.com/l/862671/2020-04-23/nj58/862671/37151/omnicell_favicon.ico"
        type="image/x-icon" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Unitext,Roboto:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <style>
      #mainNav {
    
    background-color: #46b555;}
    .modal{
      z-index: 2 !important;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #c1c1c1;
}
    </style>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="../index-menu.html"></a
        >
         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto text-uppercase">
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger" href="../templates/lp-index.html"
                >Landing Pages</a
              >
            </li>
            
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="../templates/microsites.html"
                >Microsites</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="../templates/lp-components.html"
                >Landing Page Components</a
              >
            </li>
          </ul>
          <div class="pb-4 pt-4 pl-5">
            <a
              class="btn btn-primary btn-md " role="button" href="../index-menu.html" style="background-color: #ffffff; color:#46b555;">Back to Home</a
            ></div>
        </div> 
      </div>
    </nav>
      
    <!-- <header
      class="masthead"
      style="background-image:url('../assets/img/header-bg.jpg');"
    >
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">
            <span>Omnicell</span>
          </div>
          <div class="intro-heading ">
            <span>Pardot Templates</span>
          </div>
          <a
            class="btn btn-primary btn-xl  js-scroll-trigger"
            role="button"
            href="#portfolio"
            >View Templates</a
          >
        </div>
      </div>
    </header> -->
    <section id="portfolio" class="bg-light">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class=" section-heading pt-5">
              Templates by Components
            </h2>
            <h3 class="section-subheading text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/video/index.html">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h4>Video Header</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/microsite/video/index.html"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h4>Slider Header (5x topics)</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/microsite/index.html">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h4>Related Topics</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h4>Accordion</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h4>Testimonial Slider</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h4>Testimony Hover</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        
        
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="copyright"
              >Copyright&nbsp;© Omnicell
              <script language="javascript" type="text/javascript">
                var today = new Date();
                var year = today.getFullYear();
                document.write(year);
              </script></span
            >
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../assets/js/agency.js"></script>
  </body>
</html>
