<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Omnicell Templates | Omnicell</title>
    <link rel="shortcut icon"
        href="https://mktg.omnicell.com/l/862671/2020-04-23/nj58/862671/37151/omnicell_favicon.ico"
        type="image/x-icon" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Unitext,Roboto:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <style>
      #mainNav {
    
    background-color: #46b555;}
    .modal{
      z-index: 2 !important;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #c1c1c1;
}
    </style>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="../index-menu.html"></a
        >
         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto text-uppercase">
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger" href="../templates/lp-index.html"
                >Landing Pages</a
              >
            </li>
            
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="../templates/microsites.html"
                >Microsites</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="../templates/lp-components.html"
                >Landing Page Components</a
              >
            </li>
          </ul>
          <div class="pb-4 pt-4 pl-5">
            <a
              class="btn btn-primary btn-md " role="button" href="../index-menu.html" style="background-color: #ffffff; color:#46b555;">Back to Home</a
            ></div>
        </div> 
      </div>
    </nav>
    <!-- <header
      class="masthead"
      style="background-image:url('../assets/img/header-bg.jpg');"
    >
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">
            <span>Omnicell</span>
          </div>
          <div class="intro-heading ">
            <span>Pardot Templates</span>
          </div>
          <a
            class="btn btn-primary btn-xl  js-scroll-trigger"
            role="button"
            href="#portfolio"
            >View Templates</a
          >
        </div>
      </div>
    </header> -->
    <section id="portfolio" class="bg-light">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class=" section-heading pt-5">
              Landing Page Templates
            </h2>
            <h3 class="section-subheading text-muted">
              Below are Pardot templates that are pre-built and are ready to have content added. 
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/event1/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n88c/862671/1672738369V6iiHaLe/microsite.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event Microsite</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/ashp-midyear-2022" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/form-only/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n88g/862671/1672738369Nmwb3kve/Form_only.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Form Only</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/mobile-truck-tour-registration" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/promotional_campaign/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n88r/862671/167273836970leasLB/promotional_campaign.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Promotional Event</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/iv-roadshow" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
       
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/thank-you-dynamic">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n88k/862671/1672738369wGfNNOd5/Thank_you_dynamic.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Thank you (Dynamic Content)</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/omnicell-thank-you-confirmation" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
          <!-- <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/video/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Product Specific</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div> -->
          <!-- <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/webinar/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Multiple Products</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div>-->
       
       
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/webinar">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n89v/862671/1672738885hzFcosit/webinar_one_speaker.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Webinar (One Speaker)</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/webinar-omnicell-live-transforming-pharmacy-technology" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
          <!-- <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Webinar (Two Speaker)</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/webinar-5-speaker/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n88n/862671/1672738369dTUAmls6/webinar_5_speaker.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Webinar (5 Speakers)</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/webinar-omnicell-live-caregiver-crisis-empowering-clinicians" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
        
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/giveaway/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n888/862671/1672738369Lnbt7z4B/give_away.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Giveaway Template</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/l/862671/2021-10-25/7xwq2" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
          <!-- <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Thank you (Addt'l Content)</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/omcl-live-template/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n89r/862671/1672738885YNrFmjGK/Webinar_live.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>OMCL Live Template</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/omcl-on-demand/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2023-01-03/34n89y/862671/1672738885c2Q40e20/webinar_on_demand.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>OMCL Live On-Demand</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="https://go.omnicell.com/webinar-replay-omnicell-live-transforming-pharmacy-technology" target="_blank"
                >Live Preview</a
              ></div>
            </div>
          </div>
          <!-- <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Components Landing Page</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div> -->
          <!-- <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Thank you Template</h5>
              <div class="pt-4"><a
                class="btn btn-primary btn-md  "
                role="button"
                href="#portfolio"
                >Live Preview</a
              ></div>
            </div>
          </div> -->
        </div>

        
        
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="copyright"
              >Copyright&nbsp;© Omnicell
              <script language="javascript" type="text/javascript">
                var today = new Date();
                var year = today.getFullYear();
                document.write(year);
              </script></span
            >
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../assets/js/agency.js"></script>
  </body>
</html>
