<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Omnicell Templates | Omnicell</title>
    <link rel="shortcut icon"
        href="https://mktg.omnicell.com/l/862671/2020-04-23/nj58/862671/37151/omnicell_favicon.ico"
        type="image/x-icon" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Unitext,Roboto:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <style>
      #mainNav {
    
    background-color: #46b555;}
    .modal{
      z-index: 2 !important;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #c1c1c1;
}
    </style>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="../index-menu.html"></a
        >
         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto text-uppercase">
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger" href="../templates/lp-index.html"
                >Landing Pages</a
              >
            </li>
            
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="../templates/microsites.html"
                >Microsites</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link js-scroll-trigger"
                href="../templates/lp-components.html"
                >Landing Page Components</a
              >
            </li>
          </ul>
          <div class="pb-4 pt-4 pl-5">
            <a
              class="btn btn-primary btn-md " role="button" href="../index-menu.html" style="background-color: #ffffff; color:#46b555;">Back to Home</a
            ></div>
        </div> 
      </div>
    </nav>
    <!-- <header
      class="masthead"
      style="background-image:url('../assets/img/header-bg.jpg');"
    >
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">
            <span>Omnicell</span>
          </div>
          <div class="intro-heading ">
            <span>Pardot Templates</span>
          </div>
          <a
            class="btn btn-primary btn-xl  js-scroll-trigger"
            role="button"
            href="#portfolio"
            >View Templates</a
          >
        </div>
      </div>
    </header> -->
    <section id="portfolio" class="bg-light">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class=" section-heading pt-5">
              Microsites Templates
            </h2>
            <h3 class="section-subheading text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
            </h3>
          </div>
        </div>
        <div class="row">
          
          
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/journey/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
        
          
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/video/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022 <br> Promotional Theater</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/webinar/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022 <br> Promotional Theather (Public)</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/webinar/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022 <br> Visit Booth</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          
       
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/thank-you/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022 <br> Customer Reception</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022 <br> Specialty Cocktail Reception</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2022 <br> Registration Confirmation</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="https://go.omnicell.com/india-career-opportunities"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2021<br><br></h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2021<br>Promotional Theater</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2021<br>Keynote Session</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2021<br> Promo Theater (On-demand) </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2021<br> Promo Theater Thank You </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a
              class="portfolio-link"
              href="/templates/landing-page/microsite/"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2020<br> Promotional Theater 1 </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2020<br> Promotional Theater 2 </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/landing-page/microsite/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASHP Midyear 2020<br> Promotional Theater On-Demand </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/india/index.html">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>India Career Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Omnicell Branding Template</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>340B Competitive Conversion</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>HIMSS 2022</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Dinner Event Template</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASA 2022 Run of Show</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ASA 2022 Run of Show (Standalone Registration)</h5> 
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>IV Mailer<br>Demo Request</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Omnicell Solutions<br>Informative & Demo Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>ABM Personalized Microsite<br>(Dynamic Content)</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event Template<br>One-Page with Video</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>IV Roadshow<br>Event Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Illuminate LIVE 2022<br>In-Person Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Illuminate LIVE 2022<br>In-Person Microsite (New Layout)</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event Template One-Page<br> with Video + Related Content<br>(Illuminate LIVE LinkedIn inMail)</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>NASP Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event Demo Welcome Screen </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event - Gated Registration </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>340B Coalition - Run of Show </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event Follow-up Survey </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event - Gated Keynote Video Registration </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event - Gated Keynote (Video)  </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Illuminate LIVE In-Person 2022 (March)  </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event - Scratch Off Reveal Component </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Net Promoter Score - Invitation </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Net Promoter Score - Gift </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Net Promoter Score - Thank You </h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>On-Boarding Swag Template</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Video Template - Password Protected</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Video Header Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Event - Stand Alone Form & Podcast</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 portfolio-item">
            <a class="portfolio-link" href="/templates/microsite/himss-2022/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="https://go.omnicell.com/l/862671/2021-11-23/979pd/862671/1637675204pwUNzeFR/landing_page_thumbnail.jpg"
            /></a>
            <div class="portfolio-caption">
              <h5>Demo Day - Internal Microsite</h5>
              <!-- <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p> -->
            </div>
          </div>
        </div>




       





    
       
       
       
       
       
       
       
       
        
        
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="copyright"
              >Copyright&nbsp;© Omnicell
              <script language="javascript" type="text/javascript">
                var today = new Date();
                var year = today.getFullYear();
                document.write(year);
              </script></span
            >
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../assets/js/agency.js"></script>
  </body>
</html>
